body {
    background-image: url(wallpaper.png);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-color: black;
    font-family: fantasy;
    color: whitesmoke;
}

.front-page {
    max-width: 100%;
    height: auto;
}

#encabezado {
    margin-top: 2.5rem;
    position: relative;
    display: inline-block;
    text-align: center;
    margin: 3rem 0 0 0;
}

#books-and-its-titles{
    text-align: center;
}

#titulo-harry-potter {
    width: 90%;
    height: 25%;
    justify-self: center;
    margin-bottom: 3vh;
    margin-top: 3vh;
}

#books-front-page {
    width: 60%;
    height: 50%;
    margin-top: 3vh;
}

#small-title{
    font-size: 0.6rem;
    width: 50%;
    height: 25%;
    font-family: fantasy;
    color: whitesmoke;
    -webkit-text-stroke: 0.4px black;
}

#titulo-elige-libro{
    margin-top: 1em;
    font-size: 1.2rem;
    height: 25%;
    font-family: fantasy;
    color: whitesmoke;
    -webkit-text-stroke: 0.4px black;
}

@media only screen and (min-width: 640px) {
    #titulo-harry-potter {
        width: 55%;
        height: 15%;
        justify-self: center;
        margin-bottom: -3vh;
        margin-top: -3vh;
    }
    
    #books-front-page {
        width: 30%;
        height: 40%;
        margin-top: 2vh;
    }
    
    #small-title{
        font-size: 1rem;
        width: 65%;
        height: 15%;
        margin-left: 5%;
    }
    
    #titulo-elige-libro{
        font-size: 1.9rem;
        height: 15%;
    }
}

#personajes{
    cursor: pointer;
    font-family: fantasy;
    color: seashell;
    -webkit-text-stroke: 0.2px black;
    text-shadow: 0 0 3px rgb(6, 6, 6);
    transform: rotate(-92deg);
    position: relative;
    bottom: 32vw;
    right: 24vw;
    font-size: 2vh;
    padding: 15px;
}
#personajes:hover{
    font-size: large;
  } 

#hechizos {
    cursor: pointer;
    font-family: fantasy;
    color: seashell;
    -webkit-text-stroke: 0.2px black;
    text-shadow: 0 0 3px rgb(6, 6, 6);
    transform: rotate(-92deg);
    position: relative;
    bottom: 30vw;
    right: 14vw;
    font-size: 2vh;
}
/*#hechizos:hover{
  font-size: large;
}*/

#datos-curiosos{
    cursor: pointer;
    font-family: fantasy;
    color: seashell;
    -webkit-text-stroke: 0.2px black;
    text-shadow: 0 0 3px rgb(6, 6, 6);
    transform: rotate(-90deg);
    position: relative;
    bottom: 37vw;
    right: 4.3vw;
    font-size: 1.7vh;
}
/*#datos-curiosos:hover{
  font-size: large;
}*/

#libros-de-la-saga {
    cursor: pointer;
    font-family: fantasy;
    color: seashell;
    -webkit-text-stroke: 0.2px black;
    text-shadow: 0 0 3px rgb(6, 6, 6);
    transform: rotate(-90deg);
    position: relative;
    bottom: 46vw;
    left: 6vw;
    font-size: 1.7vh;
}
/*#libros-de-la-saga:hover{
  font-size: large;
}*/

#pocimas{
    cursor: pointer;
    font-family: fantasy;
    color: seashell;
    -webkit-text-stroke: 0.2px black;
    text-shadow: 0 0 3px rgb(6, 6, 6);
    transform: rotate(-98deg);
    position: relative;
    bottom: 42vw;
    left: 16vw;
    font-size: 2vh;
}
/*#pocimas:hover{
  font-size: large;
}*/

@media only screen and (min-width: 640px) {
    #personajes {
        position: relative;
        bottom: 16vw;
        right: 12vw;
        font-size: 2vh;
    }

    #hechizos {
        position: relative;
        bottom: 17vw;
        right: 7vw;
        font-size: 2.5vh;
    }
    
    #datos-curiosos{
        position: relative;
        bottom: 20vw;
        right: 2.5vw;
        font-size: 2vh;
    }
    
    #libros-de-la-saga {
        position: relative;
        bottom: 25vw;
        left: 3vw;
        font-size: 2vh;
    }
    
    #pocimas{
        position: relative;
        bottom: 21vw;
        left: 7.5vw;
        font-size: 2vh;
    }
}

#second-page{
    display: none;
 
}
  
*{
    margin: 0;
    padding: 0;
}

  #barra-de-menu{
    text-shadow: 0 0 2px rgb(6, 6, 6);
    width: 100%;
    margin: 0 auto;
    position:fixed;
  }

  ul{
    list-style: none;
  }

  #menu li>a{
    background-color: rgba(128, 128, 128, 0.455);
    color: white;
    padding: 15px;
    display: block;
    text-decoration: none;
    min-width: 257px;
  }

  #menu li>a:hover{
    color: black;
    background-color: #eaeaea;
  }

  #menu>li{
    float: left;
    text-align:center
  }
     
#menu>li>ul{
    display: none;
  }

  #menu>li:hover>ul {
    display:block;
  }

aside {
    width: 22em;
    height: 88em;
    margin-top: 10em;
    margin-left: 2rem;
    background-color: rgba(128, 128, 128, 0.455);
    font-size: small;
    padding: 1%;
    position: absolute;
   
}

#j-k-rowling {
  width: 80%;
}
  
.section-menu-aside {
  display: flex;
  align-content: space-around;
  flex-flow: row wrap;
}

main{
  margin-top: 3em;
}

#title-characters{
  display: flex;
  justify-content: center;
  font-size: xx-large;
  -webkit-text-stroke: 0.4px black;
}

#filter-order{
  margin-top: 6em;
  margin-left: 25em;
  display: flex;
  width: 58em;
  justify-content: flex-end;
  justify-content: space-between;
  margin-bottom: 1em;
 align-items:center;
 padding: 1px;
  
}
.character {
  width: 80%;
  background: rgba(128, 128, 128, 0.491);
}
.cards {
  width: 15em;
  padding: 0,5%;
}

#root {
  display: flex;
  justify-content: space-around;
  justify-content: flex-end;
  flex-flow: row wrap;
}

.info-div {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  width: 75%;
}

footer{
  text-align: center;
}

.booksCovers {
  width: 80%;
  background: rgba(128, 128, 128, 0.491);
}
.book-cards {
  width: 15em;
  padding: 0,5%;
}




