body {
    background-image: url(wallpaper.png);
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    font-family: fantasy;
    color: whitesmoke;
    border-color: black;
    
}
.header {
    position: relative;
    display: inline-block;
    text-align: center;
}

#small-title{
    position: absolute;
    top: 5px;
    left: 350px;
    text-shadow: 0 0 4px rgb(6, 6, 6);
    -webkit-text-stroke: 0.5px rgb(6, 6, 6);
}

#titulo-harry-potter {
    margin-top: 35px;
    margin-left: 330px;
    width: 750px;
    height: 220px;
}

#titulo-elige-libro {
    position: absolute;
    top: 238px;
    left: 548px;
    text-shadow: 0 0 4px rgb(6, 6, 6);
    -webkit-text-stroke: 0.5px rgb(6, 6, 6);
}

#books {
    margin-left: 450px;
    margin-top: 40px;
    width: 550px;
    height: 450px;
}

#personajes {
    -webkit-transform: rotate(-90deg); 
    -moz-transform: rotate(-90deg);    
    width: 100px;
    position: absolute;
    top: 546px;
    left: 465px;
    text-shadow: 0 0 4px rgb(6, 6, 6);
    -webkit-text-stroke: 0.1px rgb(6, 6, 6);
    color: seashell;
}
#hechizos {
    -webkit-transform: rotate(-92deg); 
    -moz-transform: rotate(-92deg);    
    width: 100px;
    position: absolute;
    top: 570px;
    left: 558px;
    text-shadow: 0 0 4px rgb(6, 6, 6);
    -webkit-text-stroke: 0.1px rgb(6, 6, 6);
}

#datos-curiosos{
    -webkit-transform: rotate(-90deg); 
    -moz-transform: rotate(-90deg);    
    position: absolute;
    top: 530px;
    left: 570px;
    text-shadow: 0 0 8px rgb(6, 6, 6);
    -webkit-text-stroke: 0.1px rgb(6, 6, 6);
}

#libros-de-la-saga {
    -webkit-transform: rotate(-90deg); 
    -moz-transform: rotate(-90deg);    
    position: absolute;
    top: 500px;
    left: 655px;
    text-shadow: 0 0 4px rgb(6, 6, 6);
    -webkit-text-stroke: 0.1px rgb(6, 6, 6);
}

#pocimas{
    -webkit-transform: rotate(-97deg); 
    -moz-transform: rotate(-97deg);    
    font-size: smaller;
    position: absolute;
    top: 568px;
    left: 828px;
    text-shadow: 0 0 4px rgb(6, 6, 6);
    -webkit-text-stroke: 0.1px rgb(6, 6, 6);
}

#characters{
    text-align: center;
    display: none;
}