body {
    background-image: url(wallpaper.png);
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    font-family: fantasy;
    color: whitesmoke;
    border-color: black;
    
}
.header {
    position: relative;
    display: inline-block;
    text-align: center;
}

#small-title{
    position: absolute;
    top: 5px;
    left: 350px;
}

/*#small-title {
    margin-left: 350px;
}*/

#titulo-harry-potter {
    margin-top: 35px;
    margin-left: 330px;
    width: 750px;
    height: 220px;
}

#titulo-elige-libro {
    margin-left: 530px;
}

#books {
    margin-left: 450px;
    width: 550px;
    height: 450px;
    
}